<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compare Stocks</title>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  </head>
  <body>
    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
      </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Stock Comparator</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comparestocks">Compare Stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 class="text-center">Compare Stocks</h1>
      <div class="dropdown mt-3">
        <label for="stocks" class="form-label">Select Stocks</label>
        <select class="form-select" name="stocks" id="stocks" multiple aria-label="Stocks Selection">
          <option value="MSFT">MSFT</option>
          <option value="NVDA">NVDA</option>
          <option value="CRWD">CRWD</option>
        </select>
      </div>
      <button id="fetch-data" class="btn btn-primary btn-lg mt-3">
        Fetch Stock Data
      </button>
      <div class="row justify-content-center">
        <div class="col-10">
          <table
            border="1"
            id="stock-table"
            class="table table-dark table-striped"
          >
            <thead>
              <tr>
                <th>Stock Symbol</th>
                <th>P/E Ratio</th>
                <th>EPS</th>
                <th>ROA</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const fetchButton = document.getElementById("fetch-data");
        const tableBody = document.querySelector("#stock-table tbody");
        const stocksSelected = document.getElementById("stocks");

        fetchButton.addEventListener("click", async () => {
          const selectedStocks = Array.from(stocksSelected.selectedOptions).map(
            (option) => option.value
          );

          try {
            const response = await fetch("/comparestocks", {
              method: "POST",
              body: JSON.stringify({
                stocks: selectedStocks,
              }),
              headers: {
                "Content-Type": "application/json",
              },
            });

            if (response.ok) {
              const data = await response.json();
              tableBody.innerHTML = "";
              data.forEach((stock) => {
                const row = `
                                <tr>
                                    <td>${stock.symbol}</td>
                                    <td>${stock.pe_ratio}</td>
                                    <td>${stock.eps}</td>
                                    <td>${stock.roa}</td>
                                </tr>
                            `;
                tableBody.innerHTML += row;
              });
            } else {
              console.error("Failed to fetch data:", response.statusText);
            }
          } catch (error) {
            console.error("Error fetching stock data:", error);
          }
        });
      });
    </script>
  </body>
</html>
